<!DOCTYPE html lang="en">

<head>
	{{> heads}}
	<title>Recover your Dotta account</title>
</head>

<body>
	{{!-- header includes error reporting --}}
	{{> header}}
	<!--recieve //id title body owner from sqlRoute.js-->

	<div id="pageContainer">
		{{^errReason}}
		<div class="pageTitle">Account Recovery</div><br>

		<form method="post" action="">

			<div class="mTinputDiv" style="width:65%">
				<label for="username">Your Account Email</label><br>
				<input type="email" name="email" required><br>
				<h class="inputDis">Pleasesss provide your accounts email</h><br><br>
			</div>

			<div class="mTinputDiv" style="width:25%">
				<label for="frequency">Your Account Currency</label><br>
				<select name="currency" required>
					<option selected>$</option>
					{{> currencyOptions}}
				</select><br>
				<h class="inputDis">Please select your accounts currency</h><br><br>
			</div>



			<input type="hidden" name="action" value="signUp">
			<button disabled class="cta">Recover</button>
			<br>
			<h href="login" class="smallTxt">This feature is still a work in progress</h>
		</form>
		<br>
		{{/errReason}}

	</div>
</body>

</html>