<!DOCTYPE html lang="en">

<head>
	{{> heads}}
	<title>Recover your account</title>
</head>

<body>
	{{!-- Page nav head --}}
	{{> navHeader}}

	{{> header}}
	{{!-- add new sub --}}
	{{> addPanel}}

	{{!-- edit current sub --}}
	<div id="pageContainer">
		<div class="pageTitle">View and Edit {{name}}</div><br>


		<form method="post" action="/record">
			{{> subForm}}

			{{!-- others editables --}}
			{{!-- <div class="setBox">
				<button type='button' class="setButton">Pause Billing</button>
				<button type='button' class="setIcon" id="pauseBilling"><span class="material-icons" id="pauseB">radio_button_unchecked</span><span class="material-icons" id="playB">radio_button_checked</span></button>
			</div> --}}

			{{!-- others uneditables --}}
			<br><br><label>Statistics</label><br>
			<div class="setBox">
				<button type='button' class="setButton">Created: <span class="setData">{{created}}</span></button>
				<button type='button' class="setIcon"><span class="material-icons">today</span></button>
			</div>
			<div class="setBox">
				<button type='button' class="setButton">Started: <span class="setData">{{started}}</span></button>
				<button type='button' class="setIcon"><span class="material-icons">next_week</span></button>
			</div>
			<div class="setBox">
				<button type='button' class="setButton">Last Billed: <span class="setData">{{lastBilled}}</span></button>
				<button type='button' class="setIcon"><span class="material-icons">point_of_sale</span></button>
			</div>
			<div class="setBox">
				<button type='button' class="setButton">Investment: <span class="setData">{{user.currency}}{{billings.costSum}}</span></button>
				<button type='button' class="setIcon"><span class="material-icons">credit_score</span></button>
			</div>
			<div class="setBox">
				<button type='button' class="setButton">Entries: <span class="setData">{{billings.costCount}}</span></button>
				<button type='button' class="setIcon"><span class="material-icons">account_tree</span></button>
			</div>


			<br><br>
			<input type="hidden" name="ref" value="{{ref}}">
			<input type="hidden" name="action" value="update">
			<button class="cta">Update</button>
			<a href="/sub/delete/{{ref}}"><button type='button' class="altcta" id="closeAddPanel">Delete</button></a>
		</form>
	</div>
	<br><br><br>
</body>

</html>