<html>

<head>
	{{> heads}}
	<title>Recover your account</title>
</head>

<body>
	{{!-- Page nav head --}}
	{{> navHeader}}

	{{> header}}
	{{!-- add new sub --}}
	<div id="addPanel"><br>
		<form method="post" action="/record">
			{{> subForm}}
			<button type='button' class="cta"><span class="material-icons-two-tone md-light">addchart</span> Create</button>
			<button type='button' class="altcta" id="closeAddPanel"><span class="material-icons-two-tone md-light">cancel</span> Cancel</button>
		</form>
	</div>

	{{!-- edit current sub --}}
	<div id="pageContainer">
		<form method="post" action="/record">
			{{> subForm}}
			<div class="TinputDiv">
				<label for="cost">Frequency</label><br>
				<select name="frequency">
					<option>{{frequency}}</option>
					<option>Every Week</option>
					<option>Every Month</option>
				</select><br>
				<h class="inputDis">How often do you pay</h><br><br>
			</div>

			<div class="TinputDiv">
				<label for="cost">Logo</label><br>
				<select name="logo">
					<option selected>{{logo}}</option>
					<option>Apple</option>
					<option>Google</option>
					<option>YouTube Premium</option>
					<option>Spotify</option>
					<option>Health</option>
					<option>Food</option>
					<option>Assets</option>
					<option>Donations</option>
				</select><br>
				<h class="inputDis">Choose a preferred logo</h><br><br>
			</div>

			{{!-- others uneditables --}}
			<label>Attributes</label><br>
			<div class="setBox">
				<button type='button' class="setButton">Created: <span class="setData">{{created}}</span></button>
				<button type='button' class="setIcon"><span class="material-icons-two-tone md-light">analytics</span></button>
			</div>
			<div class="setBox">
				<button type='button' class="setButton">Started: <span class="setData">{{created}}</span></button>
				<button type='button' class="setIcon"><span class="material-icons-two-tone md-light">analytics</span></button>
			</div>
			<div class="setBox">
				<button type='button' class="setButton">Last Billed: <span class="setData">{{lastBilled}}</span></button>
				<button type='button' class="setIcon"><span class="material-icons-two-tone md-light">analytics</span></button>
			</div>
			<div class="setBox">
				<button type='button' class="setButton">Total Billed: <span class="setData">{{created}}</span></button>
				<button type='button' class="setIcon"><span class="material-icons-two-tone md-light">analytics</span></button>
			</div>
			

			<br><br>
			<input type="hidden" name="ref" value="{{ref}}">
			<input type="hidden" name="action" value="update">
			<button class="cta"><span class="material-icons-two-tone md-light">addchart</span> Update</button>
			<a href="/sub/delete/{{ref}}"><button type='button' class="altcta" id="closeAddPanel"><span
						class="material-icons-two-tone md-light">delete</span> Delete</button></a>
		</form>
	</div>
	<br><br><br>
</body>

</html>