<!DOCTYPE html lang="en">

<head>
	{{> heads}}
	<title>Recover your account</title>
</head>

<body>
	{{!-- Page nav head --}}
	{{> navHeader}}

	{{> header}}
	{{!-- add new sub --}}
	{{> addPanel}}

	{{!-- edit current sub --}}
	<div id="pageContainer">
		<div class="pageTitle">View and Edit {{name}}</div>


		<form method="post" action="/record">
			{{> subForm}}

			{{!-- others uneditables --}}
			<label>Attributes</label><br>
			<div class="setBox">
				<button type='button' class="setButton">Created: <span class="setData">{{created}}</span></button>
				<button type='button' class="setIcon"><span class="material-icons-two-tone md-light">today</span></button>
			</div>
			<div class="setBox">
				<button type='button' class="setButton">Started: <span class="setData">{{started}}</span></button>
				<button type='button' class="setIcon"><span class="material-icons-two-tone md-light">next_week</span></button>
			</div>
			<div class="setBox">
				<button type='button' class="setButton">Last Billed: <span class="setData">{{lastBilled}}</span></button>
				<button type='button' class="setIcon"><span class="material-icons-two-tone md-light">point_of_sale</span></button>
			</div>
			<div class="setBox">
				<button type='button' class="setButton">Investment: <span class="setData">{{user.currency}}{{billings.costSum}}</span></button>
				<button type='button' class="setIcon"><span class="material-icons-two-tone md-light">credit_score</span></button>
			</div>
			<div class="setBox">
				<button type='button' class="setButton">Entries: <span class="setData">{{billings.costCount}}</span></button>
				<button type='button' class="setIcon"><span class="material-icons-two-tone md-light">account_tree</span></button>
			</div>


			<br><br>
			<input type="hidden" name="ref" value="{{ref}}">
			<input type="hidden" name="action" value="update">
			<button class="cta"><span class="material-icons-two-tone md-light">addchart</span> Update</button>
			<a href="/sub/delete/{{ref}}"><button type='button' class="altcta" id="closeAddPanel"><span
						class="material-icons-two-tone md-light">delete</span> Delete</button></a>
		</form>
	</div>
	<br><br><br>
</body>

</html>