<div id="addPanel"><br>
		<form method="post" action="/record">
			{{> subForm}}
			<button type='button' class="cta"><span class="material-icons-two-tone md-light">addchart</span> Create</button>
			<button type='button' class="altcta" id="closeAddPanel"><span class="material-icons-two-tone md-light">highlight_off</span> Cancel</button>
		</form>
	</div>