<div id="addPanel"><br>
    <form id="addPanelForm" method="post" action="/record">
        {{> subForm}}
        <input type="hidden" name="action" value="create">
        <button class="cta"><span class="material-icons-two-tone md-light">addchart</span> Create</button>
        <button type='button' class="altcta" id="closeAddPanel"><span class="material-icons-two-tone md-light">highlight_off</span> Cancel</button>
    </form>
</div>