<div id="header">
    <a href="/"><img id="subImg" src="/images/logo_m.png"></a>

    {{^errReason}}
    <button id="subText">{{goodWill}}</button>
    {{/errReason}}

    {{#errReason}}
    <button id="subText">{{errReason.msg}}</button>
    {{/errReason}}

</div>