<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="An always free way to manage those unfree things">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<script type='text/javascript' async src='/js/main.js'></script>
<link rel="shortcut icon" type="image/x-icon" href="/images/logo_l.png">
<link rel="apple-touch-icon" sizes="192x192" href="/images/vlogpwa.png" />
<link rel="manifest" href="/js/manifest.json">
<meta name="theme-color" content="#f1fafa" />