<div id="navHeader">
    <a href="/settings"><button id="navMenu"><span class="material-icons-two-tone">horizontal_split</span> Menu</button></a>
    <button id="navAdd"><span class="material-icons-two-tone" style="vertical-align: text-bottom;">add_circle</span> New Subscription</button>
</div>