<div id="navHeader">
    <a href="/settings"><button id="navMenu"><span class="material-icons" style="vertical-align:bottom;">horizontal_split</span> Menu</button></a>
    <button id="navAdd"><span class="material-icons" style="vertical-align: text-bottom;">addchart</span> New Subscription</button>
</div>