<div class="TinputDiv">
    <label for="name">Name</label><br>
    <input type="text" value="{{name}}" name="name" required><br>
    <h class="inputDis">What are you calling this</h><br><br>
</div>

<div class="mTinputDiv">
    <label for="frequency">Frequency</label><br>
    <select name="frequency" required>
        <option selected>{{frequency}}</option>
        <option>Every Week</option>
        <option>Every Month</option>
    </select><br>
    <h class="inputDis">Every week or month</h><br><br>
</div>

<div class="mTinputDiv">
    <label for="date">Starting Day</label><br>
    <input type="number" value="{{date}}" name="date" required><br>
    <h class="inputDis">Bill date between 1 to 31</h><br><br>
</div>

<div class="mTinputDiv">
    <label for="cost">Cost</label><br>
    <input type="number" step="0.01" value="{{cost}}" name="cost" required><br>
    <h class="inputDis">How much is it</h><br><br>
</div>

<div class="mTinputDiv">
    <label for="colour">Theme Colour</label><br>
    <input type="color" value="{{colour}}" name="colour" required><br>
    <h class="inputDis">Lighter colours work best</h><br><br>
</div>