<!DOCTYPE html lang="en">

<head>
	{{> heads}}
	<title>About Dotta</title>
</head>

<body>
	{{!-- add new event --}}
	{{> addPanel}}

	{{!-- Page nav head --}}
	{{> navHeader}}
	{{> header}}
	<br>
	<div id="pageContainer">
		<div class="pageTitle">App Info</div><br>

		<div class="setBox">
			<button class="setButton">Dotta <span class="setData">V{{appGlobal.appVersion}}</span></button>
			<button class="setIcon"></button>
		</div>
		<h class="inputDis">Last updated: {{appGlobal.latestUpdate}}</h><br><br>

		<a href="https://github.com/chrisenitan/subs" target="_blank">
			<div class="setBox">
				<button class="setButton">Contribute <span class="setData">Github</span></button>
				<button class="setIcon"><span class="material-icons">subtitles</span></button>
			</div>
		</a>
		<h class="inputDis">Dotta is open source</h>



	</div>

</body>

</html>
{{!-- By Chris Enitan --}}