<html>

<head>
	{{> heads}}
	<title>Welcome to Subs</title>
</head>

<body>
	{{!-- add new event --}}
	<div id="addPanel"><br>
		<form method="post" action="/record">
			{{> subForm}}
			<input type="hidden" name="action" value="create">
			<button class="cta"><span class="material-icons-two-tone md-light">addchart</span> Create</button>
			<button type='button' class="altcta" id="closeAddPanel"><span class="material-icons-two-tone md-light">cancel</span> Cancel</button>
		</form>
	</div>

	{{!-- Page nav head --}}
	{{> navHeader}}
	{{> header}}
	<br><br>
	<div id="pageContainer">
		<p>Subs</p>
		<h class="smallTxt">Version 1.0<br>
			By Chris Enitan<br>
			This project is open source.<br>
			Repository on <a target="_blank" href="https://github.com/chrisenitan/subs">Github</a>
		</h>


	</div>

</body>

</html>