<html>

<head>
	{{> heads}}
	<title>Welcome to Subs</title>
</head>

<body>
	{{!-- add new event --}}
	{{> addPanel}}

	{{!-- Page nav head --}}
	{{> navHeader}}
	{{> header}}
	<br>
	<div id="pageContainer">
		<div class="pageTitle">App Info</div>

		<p>Subs</p>
		<h class="smallTxt">Version 1.0<br>
			Mobile<br>
			Last updated: 14 July 2021
		</h>

		<p>Contributing</p>
		<h class="smallTxt">Code:<br>
			This project is open source.<br>
			Repository on <a target="_blank" href="https://github.com/chrisenitan/subs">Github</a>
		</h><br><br>

		<h class="smallTxt">Feature ideas:<br>
			Want, have or need a feature?<br>
			Feedback on <a target="_blank" href="https://forms.gle/nNLY7e6ET1GQBwyN6">Google Form</a>
		</h>


	</div>

</body>

</html>
{{!-- By Chris Enitan --}}