<html>
	<head>
		{{> heads}}
<title>Welcome to Subs</title>
	</head>

	<body>
<!--recieve //id title body owner from sqlRoute.js-->
<div id="navHeader">
	This is the header
</div>


{{^errReason}}
<p>Welcome to Subs</p>
<p>This is your homepage: <br> {{email}} @{{username}}</p>

<p class="wtxt">Subscriptions</p>
{{#subs}}
	{{./}}
	<div class="subsHolder">
		<h class="wtxt">{{currency}}{{price}}</h><br>
		<h class="wtxt">in: </h><br>
		<h class="wtxt">{{name}}<br>
	</div>
	{{/subs}}




<br>
<a href="/logout"><button class="cta">Logout</button></a>
{{/errReason}}

	</body>
</html>

