<!DOCTYPE html lang="en">

<head>
	{{> heads}}
	<title>Dotta</title>
</head>

<body>
	<!--recieve //id title body owner from sqlRoute.js-->

	{{!-- add new event --}}
	{{> addPanel}}

	{{!-- Page nav head --}}
	{{> navHeader}}
	{{> header}}
	{{#pageRequest}}
	We have a request to show confirmation for... wip
	{{/pageRequest}}

	{{^errReason}}
	<div class="pageTitle">Your Subscriptions</div>
	{{#subs}}
	<div class="subsHolder" style="background-color: {{colour}};">
		<h class="subCost">{{currency}}{{cost}}</h><br><br>
		<h class="subTxt">in {{subFuture.daysRemaining}} days</h><br>
		<h class="smallTxt">on {{subFuture.nextDate}}</h><br><br>

		<a href="sub/{{ref}}">
			<h class="subName">{{name}}</h>
		</a><br>

	</div>
	{{/subs}}

	{{!-- when user has no subs yet --}}
	{{^subs}}
	<div id="pageContainer">
		<div class="subsHolder" style="background-color: #e3ffd4">
			<h class="subCost">{{currency}}40</h><br><br>
			<h class="subTxt">in 19 days</h><br>
			<h class="smallTxt">on 1-9-2021</h><br><br>

			<a href="sub/{{ref}}">
				<h class="subName">Demo</h>
			</a><br>

		</div><br><br>

		Your account seems brand new<br><br>
		Looks like you haven't recorded any subscriptions<br><br>
		Start by creating one with the<br>
		<b>"+ New Subscription"</b> button up there
	</div>
	{{/subs}}




	<br><br><br>
	{{/errReason}}


</body>

</html>