<html lang="en">

<head>
	{{> heads}}
	<title>Welcome to Subs</title>
</head>

<body>
	<!--recieve //id title body owner from sqlRoute.js-->

	{{!-- add new event --}}
	<div id="addPanel"><br>
		<form method="post" action="/record">
			{{> subForm}}
			<input type="hidden" name="action" value="create">
			<button class="cta"><span class="material-icons-two-tone md-light">addchart</span> Create</button>
			<button type='button' class="altcta" id="closeAddPanel"><span class="material-icons-two-tone md-light">cancel</span> Cancel</button>
		</form>
	</div>

	{{!-- Page nav head --}}
	{{> navHeader}}
	{{> header}}
	{{#pageRequest}}
	We have a request to show confirmation for... wip
	{{/pageRequest}}

	{{^errReason}}
	<p>Your Subscriptions</p>
	{{#subs}}
	<div class="subsHolder" style="background-color: {{colour}};">
		<h class="subCost">{{currency}}{{cost}}</h><br><br>
		<h class="subTxt">in: {{daysRemaining}} days</h><br><br>
		<a href="sub/{{ref}}">
			<h class="subName">{{name}}
		</a><br>

	</div>
	{{/subs}}

	{{!-- when user has no subs yet --}}
	{{^subs}}
	<div id="pageContainer">
		<div class="subsHolder">
			<h class="subCost">$40</h><br><br>
			<h class="subTxt">in: 28 days</h><br><br>
			<a href="/{{username}}">
				<h class="subName">Sample
			</a><br>
		</div><br><br>

		Looks like you haven't recorded any subscriptions<br>
		Start by creating one
	</div>
	{{/subs}}




	<br><br><br>
	{{/errReason}}


</body>

</html>