<!DOCTYPE html lang="en">

<head>
	{{> heads}}
	<title>Dotta</title>
</head>

<body>
	<!--recieve //id title body owner from sqlRoute.js-->
	{{> header}}
	<div id="pageContainer">
		<div class="pageTitle">Dotta</div>
		<h2>Subscription management like cheese</h2>
		<div class="setBox">
			<button class="setButton">Countdown to bill dates</button>
			<button class="setIcon"><span class="material-icons">av_timer</span></button>
		</div>
		<h class="inputDis">Know when, what and how much</h><br><br>
		<div class="setBox">
			<button class="setButton">Statistical summaries</button>
			<button class="setIcon"><span class="material-icons">stacked_bar_chart</span></button>
		</div>
		<h class="inputDis">You love numbers, Dotta collates them for you</h><br><br>
		<div class="setBox">
			<button class="setButton">Scrambly Private</button>
			<button class="setIcon"><span class="material-icons">lock</span></button>
		</div>
		<h class="inputDis">No emails nor real names, export your data whenever</h><br><br>

		<br><br>
		<a href="login"><button class="cta">Login</button></a>
		<a href="signup"><button class="cta">Sign Up</button></a><br>
		<h class="smallTxt">Login or Create a new account</h><br><br>
		<a href="account/trial"><button class="cta">Testing</button></a><br>
		<h class="smallTxt">Skip the account setup</h>

		<br><br>
	</div>
</body>

</html>