<html>

<head>
	{{> heads}}
	<title>Welcome to Subs</title>
</head>

<body>
	<!--recieve //id title body owner from sqlRoute.js-->
	{{> header}}
	<p>Welcome to Subs</p>
	<img style="width:200px;heigt:200px" src="/images/logo_b.png">

	<br><br>
	<a href="login"><button class="cta"><span class="material-icons-two-tone md-light">login</span> Login</button></a>
	<a href="signup"><button class="cta"><span class="material-icons-two-tone md-light">account_box</span> Sign Up</button></a><br><br>
	<a href="account/trial"><button class="cta"><span class="material-icons-two-tone md-light">no_accounts</span> Skip Setup</button></a><br>
	<h class="smallTxt">This creates an account with a random username, password and currency.</h>

</body>

</html>