<!DOCTYPE html lang="en">

<head>
	{{> heads}}
	<title>Dotta</title>
</head>

<body>
	<!--recieve //id title body owner from sqlRoute.js-->
	{{> header}}
	<div id="pageContainer">
		<div class="pageTitle">Dotta</div>
		<img style="width:150px;heigt:150px;margin-top:20px" src="/images/dotta_200.png">
		<p>Track and manage your service subscriptions</p>

		<br>
		<a href="login"><button class="cta"><span class="material-icons-two-tone md-light">login</span> Login</button></a><br>
		<h class="smallTxt">Log into an existing account</h><br><br>
		<a href="signup"><button class="cta"><span class="material-icons-two-tone md-light">account_box</span> Sign Up</button></a><br>
		<h class="smallTxt">Create a new account</h><br><br>
		<a href="account/trial"><button class="cta"><span class="material-icons-two-tone md-light">bug_report</span> Testing</button></a><br>
		<h class="smallTxt">Skip the account setup</h>

		<br><br>
	</div>
</body>

</html>