<!DOCTYPE html lang="en">

<head>
	{{> heads}}
	<title>Ledger Entries</title>
</head>

<body>
	{{!-- add new event --}}
	{{> addPanel}}

	{{!-- Page nav head --}}
	{{> navHeader}}
	{{> header}}
	<br>
	<div id="pageContainer">
		<div class="pageTitle">Account Ledger</div><br>

		{{#ledger}}
		<a href="/sub/{{ref}}">
			<div class="setBox">
				<button class="setButton">{{subName}} <span class="setData">{{owner.currency}}{{cost}}</span></button>
				<button class="setIcon"><span class="material-icons-two-tone md-light">navigate_next</span></button>
			</div>
		</a>
		<h class="inputDis">Registered on {{dateEntered}}</h><br><br>
		{{/ledger}}

		{{^ledger}}
		Here you'll find a list of all your due subscriptions.
		{{/ledger}}

		<br><br>
	</div>

</body>

</html>