<html>
	<head>
		{{> heads}}
<title>Welcome to Subs</title>
	</head>

	<body>
		{{> header}}
<!--recieve //id title body owner from sqlRoute.js-->
	<p>Login to your account</p>

<form method="post" action="account/login">
<div class="TinputDiv">
	<label for="email">Email</label><br>
<input type="email" value="test@test.com" name="email"><br>
<h class="inputDis">We'll never share your email with anyone</h><br><br>
</div>

<div class="TinputDiv">
	<label for="password">Password</label><br>
<input type="password" value="12342" name="password"><br>
<h class="inputDis">Your password is always secure</h><br><br>
</div>

<button class="cta">Login</button>
</form>
<br>
<a href="account/recovery">Forgot Password?</a>

	</body>
</html>

