<!DOCTYPE html lang="en">

<head>
	{{> heads}}
	<title>Login</title>
</head>

<body>
	{{> header}}
	<!--recieve //id title body owner from sqlRoute.js-->
	<div id="pageContainer">
		{{^errReason}}
		<div id="loginForm">
			<div class="pageTitle">Log into an account</div><br>
			<form method="post" action="account/login">
				<div class="TinputDiv">
					<label for="username">Username</label><br>
					<input type="text" name="username"><br>
					<h class="inputDis">Your username</h><br><br>
				</div>

				<div class="TinputDiv">
					<label for="password">Password</label><br>
					<input type="password" name="password"><br>
					<h class="inputDis">Your password is always secure</h><br><br>
				</div>

				<input type="hidden" name="action" value="logIn">
				<button class="cta">Login</button><br><br>
				<h id="showRecoverForm" class="smallTxt">Lost your login data? Recover your account <u>here</u></h>
			</form>
			<br>
		</div>


		<div id="recoverFormDiv">
			<div class="pageTitle">Recover account details</div><br>
			<form id="recoverForm" method="post" action="account/recover">

				<div class="mTinputDiv" style="width:65%">
					<label for="username">Your Account Email</label><br>
					<input type="email" name="email" required><br>
					<h class="inputDis">Last used account email</h><br><br>
				</div>

				<div class="mTinputDiv" style="width:25%">
					<label for="frequency">Currency</label><br>
					<select name="currency" required>
						<option selected>$</option>
						<option>€</option>
						<option>₦</option>
						<option>¥</option>
						<option>₹</option>
						<option>£</option>
						<option>₿</option>
						<option>₱</option>
						<option>د.إ</option>
					</select><br>
					<h class="inputDis">Last currency</h><br><br>
				</div>

				<div class="mTinputDiv">
					<label for="password">Password</label><br>
					<input type="password" name="password" required><br>
					<h class="inputDis">Last remembered password</h><br><br>
				</div>

				<div class="mTinputDiv">
					<label for="username">Username</label><br>
					<input type="text" required><br>
					<h class="inputDis">Last used username</h><br><br>
				</div>

				<input type="hidden" name="action" value="signUp">
				<button class="cta">Recover</button>
				<br>
				<h href="login" class="smallTxt">We'll review your request and send you an email</h>
			</form>
		</div>
		{{/errReason}}

	</div>
</body>

</html>