<!DOCTYPE html lang="en">

<head>
	{{> heads}}
	<title>Dotta - @{{username}}</title>
</head>

<body>
	{{!-- add new event --}}
	{{> addPanel}}

	{{!-- Page nav head --}}
	{{> navHeader}}
	{{> header}}
	<div id="pageContainer">
		<p class="smallTxt">Welcome @{{username}}</p>

		<div class="pageTitle">How to use Dotta</div><br>
		<a href="/{{username}}">
			<div class="setBox">
				<button type='button' class="setButton">App Home</button>
				<button type='button' class="setIcon"><span class="material-icons-two-tone md-light">door_front</span></button><br>
			</div>
			<h class="inputDis">Here you can create, view and manage your subscriptions</h><br><br>
		</a>

		<a href="/settings">
			<div class="setBox">
				<button type='button' class="setButton">App Settings</button>
				<button type='button' class="setIcon"><span class="material-icons-two-tone md-light">tune</span></button><br>
			</div>
			<h class="inputDis">View and customise your app and account preferences</h><br><br>
		</a>

		<a href="/statistics">
			<div class="setBox">
				<button type='button' class="setButton">Account Statistics</button>
				<button type='button' class="setIcon"><span class="material-icons-two-tone md-light">stacked_bar_chart</span></button><br>
			</div>
			<h class="inputDis">Here you get a summary of all your subscriptions</h><br><br>
		</a>
		<label for="cost">Useful App Tips</label><br><br>
		<h class="inputDis"> - To go home anytime, tap the app logo on the top left corner</h><br>
		<h class="inputDis"> - For easy access: bookmark or add Dotta to your homescreen</h><br>
		<h style="margin-left:10px" class="inputDis"> - hint: <a target="_blank"
				href="https://mobilesyrup.com/2020/05/24/how-install-progressive-web-app-pwa-android-ios-pc-mac/">mobilesyrup.com: how to install a
				pwa</a></h><br>
		<h class="inputDis"> - Dotta uses minimal cookies technology</h><br>
		<h class="inputDis"> - Numbers are rounded to the second decimal point</h><br>
		<h class="inputDis"> - You can delete your account below this page</h>
		<br><br>

		<div class="pageTitle">Your Account Details</div><br>
		<form method="post" action="account/signup">

			<div class="mTinputDiv" style="width:65%">
				<label for="email">Email</label><br>
				<input type="text" value="{{email}}" name="email"><br>
				<h class="inputDis">Email is optional</h><br><br>
			</div>

			<div class="mTinputDiv" style="width:25%">
				<label for="currency">Currency</label><br>
				<select name="currency" required>
					<option selected>{{currency}}</option>
					<option>$</option>
					<option>€</option>
					<option>₦</option>
					<option>¥</option>
					<option>₹</option>
					<option>£</option>
				</select><br>
				<h class="inputDis">Main currency</h><br><br>
			</div>

			<div class="mTinputDiv">
				<label for="password">Password</label><br>
				<input type="password" value="{{password}}" name="password"><br>
				<h class="inputDis">Use a strong combination</h><br><br>
			</div>

			<div class="mTinputDiv">
				<label for="username">Username</label><br>
				<input disabled type="text" value="{{username}}"><br>
				<h class="inputDis">You cannot change this</h><br><br>
			</div>

			<input type="hidden" value="{{username}}" name="username" required>
			<input type="hidden" name="action" value="update" required>
			<button class="cta">Update</button>
		</form><br>


		<div class="pageTitle">Danger Zone</div><br>
		<label>Download your data</label>
		<a href="/account/takeout">
			<div class="setBox">
				<button class="setButton">In JSON Format</button>
				<button class="setIcon"><span class="material-icons-two-tone md-light">assignment_returned</span></button><br>
			</div>
		</a>
		<h class="inputDis">Export your data in <a target="_blank" href="https://en.wikipedia.org/wiki/JSON">{JSON}</a> format</h><br><br>

		<form method="post" action="account/delete">
			<div class="setBox">
				<button type="button" class="setButton"><span class="setData">@{{username}}</span></button>
				<button class="setIcon"><span class="material-icons-two-tone md-light">delete</span></button><br>
			</div>
			<h class="inputDis">Careful, deletion starts immediately you tap the trash icon</h><br><br>
			<input type="hidden" name="action" value="delete">
			<input type="hidden" value="{{username}}" name="username" required>
		</form>
		<br><br>
	</div>
</body>

</html>