<!DOCTYPE html lang="en">

<head>
	{{> heads}}
	<title>Welcome to Dotta</title>
</head>

<body>
	{{!-- add new event --}}
	{{> addPanel}}

	{{!-- Page nav head --}}
	{{> navHeader}}
	{{> header}}
	<div id="pageContainer">

		<div class="pageTitle">How to use Dotta</div><br>
		<a href="/settings">
			<div class="setBox">
				<button type='button' class="setButton">App Settings</button>
				<button type='button' class="setIcon"><span class="material-icons-two-tone md-light">tune</span></button><br>
			</div>
			<h class="inputDis">View and customise your app and account preferences</h><br><br>
		</a>

		<a href="/statistics">
			<div class="setBox">
				<button type='button' class="setButton">Account Statistics</button>
				<button type='button' class="setIcon"><span class="material-icons-two-tone md-light">stacked_bar_chart</span></button><br>
			</div>
			<h class="inputDis">Here you get a summary of all your subscriptions</h><br><br>
		</a>

		<a href="/{{username}}">
			<div class="setBox">
				<button type='button' class="setButton">App Home</button>
				<button type='button' class="setIcon"><span class="material-icons-two-tone md-light">door_front</span></button><br>
			</div>
			<h class="inputDis">Here you can create, view and manage your subscriptions</h><br><br>
		</a>

		<h class="inputDis">To go home anytime, tap the app logo on the top left corner</h><br>
		<h class="inputDis">For easy access: bookmark or add app to your homescreen</h><br>
		<h class="inputDis">This webapp uses minimal cookies technology</h><br>
		<h class="inputDis">Numbers are rounded to the second decimals point</h><br>
		<h class="inputDis">App currently works best on mobile devices</h><br>
		<h class="inputDis">You may delete your account below this page</h>
		<br><br>

		<div class="pageTitle">Your Account Details</div><br>
		<form method="post" action="account/signup">
			<div class="TinputDiv">
				<label for="cost">Email</label><br>
				<input type="email" value="{{email}}" name="email"><br>
				<h class="inputDis">Email is optional. (useful for upcomiing notification feature)</h><br>
			</div>

			<div class="mTinputDiv">
				<label for="cost">Username</label><br>
				<input disabled type="text" value="{{username}}"><br>
				<h class="inputDis">You cannot change this</h><br><br>
			</div>

			<div class="mTinputDiv">
				<label for="cost">Currency</label><br>
				<select name="currency" required>
					<option selected>{{currency}}</option>
					<option>$</option>
					<option>€</option>
					<option>₦</option>
					<option>¥</option>
					<option>₹</option>
					<option>£</option>
				</select><br>
				<h class="inputDis">Choose a default currency</h><br><br>
			</div>

			<input type="hidden" value="{{username}}" name="username" required>
			<input type="hidden" name="action" value="update" required>
			<button class="cta"><span class="material-icons-two-tone md-light">account_box</span> Update</button>
		</form><br>


		<div class="pageTitle">Danger Zone</div><br>

		{{!-- account/takeout --}}
		<a href="/">
			<div class="setBox">
				<button class="setButton">Download your data</button>
				<button class="setIcon"><span class="material-icons-two-tone md-light">assignment_returned</span></button><br>
			</div>
			<h class="inputDis">Takeout feature is still work a in progress</h><br><br>
		</a>

		<form method="post" action="account/delete">
			<div class="setBox">
				<button type="button" class="setButton"><span class="setData">@{{username}}</span></button>
				<button class="setIcon"><span class="material-icons-two-tone md-light">delete</span></button><br>
			</div>
			<h class="inputDis">Careful here, deletion starts immediately you tap the trash icon</h><br><br>
			<input type="hidden" name="action" value="delete">
			<input type="hidden" value="{{username}}" name="username" required>
		</form>
		<br><br>
	</div>
</body>

</html>