<html>
	<head>
		{{> heads}}
<title>Welcome to Subs</title>
	</head>

	<body>
<!--recieve //id title body owner from sqlRoute.js-->
	<p>Welcome to Subs</p>
<img style="width:200px;heigt:200px" src="/images/art.jpg">

<p>Your account emails is {{email}} </p>


	</body>
</html>

