<html>

<head>
	{{> heads}}
	<title>Welcome to Subs</title>
</head>

<body>
	{{> header}}
	<!--recieve //id title body owner from sqlRoute.js-->
	<p>Your settings page</p>


</body>

</html>