<html>

<head>
	{{> heads}}
	<title>Welcome to Subs</title>
</head>

<body>
	{{!-- add new event --}}
	<div id="addPanel"><br>
		<form method="post" action="/record">
			{{> subForm}}
			<input type="hidden" name="action" value="create">
			<button class="cta"><span class="material-icons-two-tone md-light">addchart</span> Create</button>
			<button type='button' class="altcta" id="closeAddPanel"><span class="material-icons-two-tone md-light">cancel</span> Cancel</button>
		</form>
	</div>

	{{!-- Page nav head --}}
	{{> navHeader}}
	{{> header}}
	<br><br>
	<div id="pageContainer">

		<br><label>Account</label><br>
		<div class="setBox">
			<button class="setButton">Name: <span class="setData">{{username}}</span></button>
			<button class="setIcon"><span class="material-icons-two-tone md-light">contact_page</span></button>
		</div>
		<a href="/statistics">
			<div class="setBox">
				<button class="setButton">Statistics</button>
				<button class="setIcon"><span class="material-icons-two-tone md-light">data_exploration</span></button>
			</div>
		</a><br>
		<a href="/logout">
			<div class="setBox">
				<button class="setButton">Logout</button>
				<button class="setIcon"><span class="material-icons-two-tone md-light">logout</span></button>
			</div>
		</a>

		<br><label>App</label><br>
		<a href="/about">
			<div class="setBox">
				<button class="setButton">About</button>
				<button class="setIcon"><span class="material-icons-two-tone md-light">info</span></button>
			</div>
		</a>

	</div>

</body>

</html>