<html>

<head>
	{{> heads}}
	<title>Welcome to Subs</title>
</head>

<body>
	{{!-- add new event --}}
	{{> addPanel}}

	{{!-- Page nav head --}}
	{{> navHeader}}
	{{> header}}
	<br><br>
	<div id="pageContainer">

		<br><label>Account</label><br>
		<a href="/account">
		<div class="setBox">
			<button class="setButton">Your data <span class="setData">{{username}}</span></button>
			<button class="setIcon"><span class="material-icons-two-tone md-light">navigate_next</span></button>
		</div>
		</a>
		<a href="/statistics">
			<div class="setBox">
				<button class="setButton">Statistics</button>
				<button class="setIcon"><span class="material-icons-two-tone md-light">stacked_bar_chart</span></button>
			</div>
		</a><br>
		<a href="/logout">
			<div class="setBox">
				<button class="setButton">Logout</button>
				<button class="setIcon"><span class="material-icons-two-tone md-light">logout</span></button>
			</div>
		</a>

		<br><label>App</label><br>
		<a href="/about">
			<div class="setBox">
				<button class="setButton">About</button>
				<button class="setIcon"><span class="material-icons-two-tone md-light">info</span></button>
			</div>
		</a>

	</div>

</body>

</html>