<html>

<head>
	{{> heads}}
	<title>Welcome to Dotta</title>
</head>

<body>
	{{!-- header includes error reporting --}}
	{{> header}}
	<!--recieve //id title body owner from sqlRoute.js-->

	<div id="pageContainer">
		{{^errReason}}
		<div class="pageTitle">Create a new account</div><br>

		<form method="post" action="account/signup">

			<div class="TinputDiv">
				<label for="frequency">Account Currency</label><br>
				<select name="currency" required>
					<option selected>$</option>
					<option>€</option>
					<option>₦</option>
					<option>¥</option>
					<option>₹</option>
					<option>£</option>
				</select><br>
				<h class="inputDis">Choose a default currency for all transactions</h><br><br>
			</div>


			<div class="TinputDiv">
				<label for="username">Username</label><br>
				<input type="text" value="{{ranUserName}}" name="username" placeholder="thinkingbanana" required><br>
				<h class="inputDis">Choose a random unreal username</h><br><br>
			</div>

			<div class="TinputDiv">
				<label for="password">Password</label><br>
				<input type="password" name="password" required><br>
				<h class="inputDis">Create a <b>strong</b> password</h><br><br>
			</div>




			<input type="hidden" name="action" value="signUp">
			<button class="cta"><span class="material-icons-two-tone md-light">account_box</span> Sign Up</button>
		</form>
		<br>
		<a href="login" class="smallTxt">Already have an account? Login here</a>
		{{/errReason}}

	</div>
</body>

</html>