<html>

<head>
	{{> heads}}
	<title>Welcome to Subs</title>
</head>

<body>
	{{!-- add new event --}}
	{{> addPanel}}

	{{!-- Page nav head --}}
	{{> navHeader}}
	{{> header}}
	<br>
	<div id="pageContainer">
		<div class="pageTitle">Account Statistics</div>

		<br><label>Account</label><br>
		<div class="setBox">
			<button class="setButton">Subscriptions: <span class="setData">{{count}}</span></button>
			<button class="setIcon"><span class="material-icons-two-tone md-light">receipt</span></button>
		</div>

		<br><label>Expenses</label><br>
		<div class="setBox">
			<button class="setButton">Running: <span class="setData">{{owner.currency}}{{totalCost}}</span></button>
			<button class="setIcon"><span class="material-icons-two-tone md-light">payment</span></button>
		</div>
		<a href="/sub/{{topSub.ref}}">
			<div class="setBox">
				<button class="setButton">Highest: <span class="setData">{{topSub.name}} ({{owner.currency}}{{topSub.cost}})</span></button>
				<button class="setIcon"><span class="material-icons-two-tone md-light">vertical_align_top</span></button>
			</div>
		</a>
		<a href="/sub/{{bottomSub.ref}}">
			<div class="setBox">
				<button class="setButton">Lowest: <span class="setData">{{bottomSub.name}} ({{owner.currency}}{{bottomSub.cost}})</span></button>
				<button class="setIcon"><span class="material-icons-two-tone md-light">vertical_align_bottom</span></button>
			</div>
		</a>
		
		<br><label>Ledger</label><br>
		<div class="setBox">
			<button class="setButton">Investment: <span class="setData">{{owner.currency}}{{billings.costSum}}</span></button>
			<button class="setIcon"><span class="material-icons-two-tone md-light">credit_score</span></button>
		</div>
		<div class="setBox">
			<button class="setButton">Entries: <span class="setData">{{billings.costCount}}</span></button>
			<button class="setIcon"><span class="material-icons-two-tone md-light">account_tree</span></button>
		</div>

<br><br>
	</div>

</body>

</html>