<html>

<head>
	{{> heads}}
	<title>Welcome to Subs</title>
</head>

<body>
	{{!-- add new event --}}
	<div id="addPanel"><br>
		<form method="post" action="/record">
			{{> subForm}}
			<input type="hidden" name="action" value="create">
			<button class="cta"><span class="material-icons-two-tone md-light">addchart</span> Create</button>
			<button type='button' class="altcta" id="closeAddPanel"><span class="material-icons-two-tone md-light">cancel</span> Cancel</button>
		</form>
	</div>

	{{!-- Page nav head --}}
	{{> navHeader}}
	{{> header}}
	<br><br>
	<div id="pageContainer">

		<br><label>Account</label><br>
		<div class="setBox">
			<button class="setButton">Subscriptions: <span class="setData">{{count}}</span></button>
			<button class="setIcon"><span class="material-icons-two-tone md-light">data_exploration</span></button>
		</div>

		<br><label>Costs</label><br>
		<div class="setBox">
			<button class="setButton">Running: <span class="setData">#{{totalCost}}</span></button>
			<button class="setIcon"><span class="material-icons-two-tone md-light">payment</span></button>
		</div>
		<div class="setBox">
			<button type='button' class="setButton">Cumulative: <span class="setData">x13 = ##</span></button>
			<button type='button' class="setIcon"><span class="material-icons-two-tone md-light">analytics</span></button>
		</div>
		<a href="/sub/{{topSub.ref}}">
			<div class="setBox">
				<button class="setButton">Highest: <span class="setData">{{topSub.name}}</span></button>
				<button class="setIcon"><span class="material-icons-two-tone md-light">data_exploration</span></button>
			</div>
		</a>


	</div>

</body>

</html>