/* styles for sub */
body{
    background-color: #453b64;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	width:100%;
	max-width: 500px;
	margin:auto;
}
a{
	color:#1f72f1;
}
input{
	height: 40px;
    width: 210px;
    background-color: #262d39;
    border: none;
    color: #fff;
    outline: none;
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}
.cta{
    height: 30px;
	width: 210px;
	color: #000000;
	margin: 10px;
	background-color: #a9ffa9;
	border: 1px solid #a9ffa9;
	border-radius: 50px;
}
.altcta{
	height: 30px;
    width: 210px;
    color: #ffffff;
    margin: 10px;
    background-color: #a9ffa92b;
    border: 1px solid #a9ffa9;
    border-radius: 50px;
}